

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    padding-top: 75px; //antes a 50px
    background-image: url("img/background-large.jpg"); //no estaba, fuente: http://www.djfc.co.uk/
}

header .carousel{
    height: 80%; //antes a 50%
}

.navbar-brand {
  padding: 8px 15px;
}

.navbar-inverse {
  height: 70px;
}

.col_top_align {
  margin-top: -102px;
}

.font_icon {
    font-size: 30px;
}
#logoApy{
    width: 100px; 
    float: left;
}

#logoCha{
    width: 100px;
    margin-left: 20px;
    float: left;
}