

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    padding-top: 75px; //antes a 50px
    background-image: url("img/background-large.jpg"); //no estaba, fuente: http://www.djfc.co.uk/
}

header .carousel{
    height: 80%; //antes a 50%
}

.navbar-brand {
  padding: 8px 15px;
}

.navbar-inverse {
  height: 75px;
}

.col_top_align {
  margin-top: -102px;
}

.font_icon {
    font-size: 30px;
}
#logoApy{
    width: 100px; 
    float: right;
}

#patro{
    float: right;
}

#logoCha{
    width: 100px;
    margin-left: 20px;
    float: right;
}

#recordar{
    margin-top: 9px;
}

.videoreciente{
    float: left;
    margin-right:180px;
    
}

.comentario{
    width:480px; 
    float: left;
}

.comentario2{
    width:480px;
    float: right;
}

.addcomentariocss{
    float: left;
    width:480px;
    padding-bottom: 1px;
    margin-bottom: 3px; 
    max-width: 480px;
}

.addcomentariocss2{
    float: right;
    width:480px;
     padding-bottom: 1px;
    margin-bottom: 3px;
    max-width: 480px;
}

.estilo_imagen{
    width: 350px;
    height: 200px;
    margin-left: 4px;
    margin-top: 4px;
    
}

.estilo_imagen2{
    width: 600px;
    height: 300px;  
}

.estilo_imagen3{
     
    width: 900px;
    height: 400px;
    margin: 0 auto;
}

.calendario p{
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    color: #000;
}

.panel-default>.calendario_color {
    color: #fff;
    background-color: #002240;
    border-color: #002240;
}